# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
.swiftpm/
migrate_working_dir/

#=======================================================================
# Firebase - KESİNLİKLE PAYLAŞMA! (HASSAS BİLGİLER VE API ANAHTARLARI)
#=======================================================================
lib/firebase_options.dart
/android/app/google-services.json
/ios/Runner/GoogleService-Info.plist
lib/core/config/app_config.dart

# IntelliJ & Android Studio related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# iOS/Cocoapods
/ios/Pods/
/ios/Podfile.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
/assets/rive/space_background.riv